/* style.css */

* {
    background-color: black;
    color: white;
}

.heading {
    font-size: 70px;
    font-weight: bold;
    font-family: garamond;
    text-align: center;
}

.links {
    font-size: 40px;
    font-family: garamond;
}
